@media screen and (min-width: 375px) and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: content-box;
        overflow-x: hidden;
        
    }
    
    /* html{
        overflow: hidden;
    } */
    
    header{
        display: flex;
        flex-direction: column;
        background-color: #1B1B1B;
        /* height: 200px; */
        box-sizing: content-box;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
    
    
    .logo img{
        width: 200px;
        /* margin: 20px 100px; */
        /* margin: 20px 50px; */
    }

    header .nav-bar{
        display: none;
    }
    
    
    /* Bagian Main */
    main article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main article .porto{
        /* background-color: tomato; */
        /* width: 90%; */
        height: auto;
        margin-top: -50px;
        /* text-align: center; */
        margin-right: 50px;
        /* margin-left: 40px; */
        /* flex: 1; */
        /* overflow: hidden; */
    }
    
    main article .title{
        width: 75%;
        padding: 100 px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: -50px 10px 30px;
    
        flex: 1;
    
        /* padding: 0px 50px 0px; */
        /* background-color: yellow; */
    }
    
    main article .title h1{
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    main article .title p{
        font-size: 15px;
    }
    /* Akhir dari main */
    
    
    
    /* Bagian Price List */
    .price-list{
        background-color: #1B1B1B;
        /* padding: 25px 40px; */
    }
    
    .price-list .title{
        margin: 0;
        /* padding-top: 25px; */
        /* margin-left: 75px; */
        margin-bottom: -25px;
        color: white;
        font-size: 30px;
        text-align: center;
    }
    
    .price-list .pilihan{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin: auto 50px; */
    }
    
    .price-list .pilihan .order{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: center;
        /* margin-bottom: 50px; */
        /* padding: 50px; */
        
    }
    
    .price-list .pilihan .order img{
        flex: 1;
        width: 150px;
        /* margin: 20px; */
        /* padding: 25px; */
    
        background-color: white;
        border-radius: 10px;
    }
    
    .price-list .pilihan .order .ket{
        flex: 2;
        text-align: center;
    }
    
    .price-list .pilihan .order .ket h3{
        color: white;
        margin-bottom: 10px;
    }
    
    .price-list .pilihan .order .ket p{
        color: white;
        /* margin-bottom: 25px; */
    }
    
    .price-list .pilihan .order .ket button{
        background: #1B1B1B;
        border: unset;
        border-radius: 5px;
        outline: unset;
    
        cursor: pointer;
    
        font-size: 15px;
        width: 100px;
        height: 30px;
        border: 1px solid white;
        color: white;
    }
    
    .price-list .pilihan .order .ket button:active{
        box-shadow: 0px 3px 12px rgba(255, 255, 255, 0.25);
    
    }
    /* Akhir dari Price list */
    
    
    
    /* Bagian dari Aside */
    aside{
        margin-bottom: 30px;
        height: auto;
    }
    
    aside h1{
        /* margin: 50px; */
        /* margin-left: 75px; */
        /* margin-bottom: 25px; */
        font-size: 30px;
        /* padding-top: 25px; */
        text-align: center;
        margin: 0px 0px 20px;
    }
    
    aside .perkenalan{
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center;     */
    }
    
    aside .perkenalan img{
        width: 400px;
    }
    
    aside .perkenalan .massage{
        /* padding: 20px; */
        width: 80%;
        height: auto;
        margin: -70px 0px 0px;
        /* background-color: white; */
        /* box-shadow: 0px 3px 12px rgba(22, 22, 22, 0.25); */
        /* border-radius: 10px; */
        /* margin-left: 0px; */
    }
    
    aside .perkenalan .massage p{
        text-align: center;
        margin-bottom: 25px;
    }

    aside .perkenalan .massage h4{
        text-align: center;
    }
    /* Bagian akhir dari aside */
    
    
    /* Bagian Footer */
    footer{
        background-color: #1B1B1B;
        width: 100%;
        height: auto;
        padding: 25px 0px;
        display: flex;
        justify-content: center;
        margin: 0;
    
    }
    
    footer .contact{
        display: flex;
        align-items: center;
        margin-right: 30px;
        
    }
    
    footer .contact img{
        width: 20px;
        margin: 0;
        margin-right: 5px;
    }
    
    footer .contact a, footer .contact h4{
        color: white;
    }
    /* Bagian akhir dari footer */
}